{% extends "base.html" %} {% block content %}
<h1 class="title">This is my blog made with Zola.</h1>

Bienvenidos a mi blog hecho con Zola. Aquí compartiré mis pensamientos,
experiencias y conocimientos sobre diversos temas relacionados con la
tecnología, el desarrollo web y la programación. Espero que encuentren contenido
interesante y útil en este espacio. ¡Gracias por visitarlo! Vamos a empezar con
algunos posts sobre Zola, el generador de sitios estáticos que estoy utilizando
para crear este blog. Zola es una herramienta poderosa y fácil de usar que me
permite crear un sitio web rápido y eficiente sin necesidad de depender de bases
de datos o servidores complejos. Si estás interesado en aprender más sobre Zola
o en cómo crear tu propio blog con esta herramienta, no dudes en seguir leyendo.
Espero que disfruten el contenido y se unan a la conversación dejando sus
comentarios y sugerencias. ¡Gracias por ser parte de esta comunidad! Como
siempre, estoy abierto a sugerencias y comentarios para mejorar el blog y
ofrecer contenido que sea relevante e interesante para mis lectores. No dudes en
contactarme si tienes alguna idea o tema que te gustaría que aborde en futuros
posts.
<p><a href="{{ get_url(path='@/blog/_index.md') }}">Posts</a>.</p>
{% endblock content %}
